.header {
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #efefef;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  width: 150px;
  align-items: center;
}

.hamburger-icon {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hamburger-menu {
  border-style: none;
  cursor: pointer;
}

.hamburger-menu:hover {
  opacity: 0.5;
  transition-duration: 0.3s;
  transform: scale(1.1, 1.1);
}

.hamburger-menu:active {
  opacity: 0.7;
  transition-duration: 0.3s;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 300px;
  display: flex;
  align-items: center;
}

.form-search {
  display: grid;
  grid-template-columns: 300px 50px;
  column-gap: 2px;
}

.search-bar {
  flex: 1;
  height: 30px;
  font-size: 12px;
  padding-left: 15px;
  border-width: 0.5px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 15px;
  transition-duration: 0.3s;
}

.search-bar:placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
}

input:focus {
  font-weight: bold;
}

.search-icon {
  height: 30px;
  width: 30px;
}

.search-button {
  width: 30px;
  height: 30px;
  border-style: none;
  cursor: pointer;
}

.search-button:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
  transform: scale(1.1, 1.1);
}

.search-button:active {
  opacity: 0.7;
  transition-duration: 0.3s;
}

.right-section {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.right-grid {
  display: grid;
  grid-template-columns: 50px 50px;
  column-gap: 10px;
}

.cart-button {
  border-style: none;
  cursor: pointer;
}
.cart-button:hover {
  opacity: 0.7;
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}

.cart-icon {
  height: 30px;
  width: 30px;
  opacity: 0.8;
}

.profile-button {
  border-style: none;
  cursor: pointer;
}

.profile-button:hover {
  opacity: 0.7;
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}

.profile-picture {
  flex: 1;
  height: 30px;
}

.user-icon {
  flex: 1;
  height: 30px;
}
