.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height layout */
}

.layout-container {
  display: flex;
  flex: 1;
}

.SideBar {
  width: 250px;
  background-color: #ffffff;
  overflow-y: auto;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
  overflow-y: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .layout-container {
    flex-direction: column;
  }

  .SideBar {
    width: 100%;
    margin-bottom: 20px; /* Space between sidebar and main content */
  }

  .main-content {
    margin-left: 0; /* Remove margin for main content */
  }
}
