.sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  padding: 20px;
  transition: all 0.3s ease;
}

.filter-grid {
  display: grid;
  grid-template-columns: 10px auto;
  margin-bottom: 15px;
}

.filter {
  display: block;
  padding-left: 10px;
}

.filter-icon {
  display: block;
  height: 25px;
  width: 20px;
  margin-bottom: 5px;
}

.filter-status {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.toggle-button:hover {
  transition: background-color 0.3s ease-in-out;
}

.filter-group {
  font-size: 1rem;
  font-weight: 500;
  color: #444;
  margin: 15px 0 10px;
  padding-right: 15px;
}

.filter-option {
  list-style-type: none;
  padding-left: 15px;
}

.filter-group,
.filter-option {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

li {
  display: flex;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 8px 0;
  margin-right: 15px;
  align-items: center;
  color: #555; /* Light grey text for list items */
}

li input {
  margin-right: 10px; /* Space between checkbox and label */
}

/* Toggle button style */
.toggle-button-grid {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background-color: #f7f7f7;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.toggle-button-grid:hover {
  background-color: #eaeaea;
  transition: background-color 0.3s ease-in-out;
}

.toggle-text {
  font-size: 0.9rem;
  color: #007bff; /* Blue color for links */
}

.down-icon {
  height: 12px;
  width: 12px;
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
}

.toggle-button-grid:hover .down-icon {
  transform: rotate(180deg);
}

hr {
  width: 90%;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}

@media (max-width: 1080px) {
  .sidebar,
  sidebar collapsed {
    width: 100%;
    height: fit-content;
  }

  .filter-status {
    font-size: 0.9rem;
  }

  .filter-group {
    font-size: 0.9rem;
  }

  li {
    font-size: 0.875rem;
    display: inline;
  }

  .toggle-button-grid {
    padding: 6px 12px;
    display: inline;
  }

  .toggle-text {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    position: relative;
    top: 0;
  }

  .filter-grid {
    grid-template-columns: 30px auto;
    align-items: center;
  }

  .filter-status {
    font-size: 0.85rem;
  }

  .filter-group {
    font-size: 0.85rem;
  }

  li {
    font-size: 0.85rem;
  }

  .toggle-button-grid {
    padding: 5px 10px; /* Smaller padding for mobile */
  }

  .toggle-text {
    font-size: 0.85rem;
  }

  .down-icon {
    height: 10px;
    width: 10px;
  }
}
